<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ../includes/app.scripts.ejs %>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <link href="/stylesheets/user-order.css" rel="stylesheet">
    <!--&lt;!&ndash; Bootstrap CSS&ndash;&gt;-->
    <link href="/bootstrap-4.1/bootstrap.min.css" rel="stylesheet" media="all">
    <!-- Main CSS-->
    <link href="stylesheets/admin-panel.css" rel="stylesheet" media="all">

    <script type="text/javascript" src="/javascripts/update-product.js"></script>
</head>

<body>
<div class="page-wrapper">
    <!-- MENU SIDEBAR-->
    <div class="page-container">
        <%- include ../includes/header.ejs %>
        <!-- MAIN CONTENT-->
        <div class="main-content">
            <div class="section__content section__content--p30">
                <% if(message.length > 0) { %>
                    <div class="alert alert-success"><%= message %></div>
                <% } %>
                <div class="container-fluid">
                    <div class="container" style="padding-left: 0;">
                        <div class="row m-t-25">
                            <div class="col-sm-6 col-lg-3">
                                <div class="overview-item overview-item--c1">
                                    <div class="overview__inner">
                                        <div class="overview-box clearfix">
                                            <div class="icon">
                                                <i class="zmdi zmdi-account-o"></i>
                                            </div>
                                            <div class="text">
                                                <h2><%= data.length %></h2>
                                                <span>Orders</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-3">
                                <div class="overview-item overview-item--c3">
                                    <div class="overview__inner">
                                        <div class="overview-box clearfix">
                                            <div class="icon">
                                                <i class="zmdi zmdi-calendar-note"></i>
                                            </div>
                                            <div class="text">
                                                <h2><%= lastWeekOrders.length %></h2>
                                                <span>Orders This Week</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-3">
                                <div class="overview-item overview-item--c2">
                                    <div class="overview__inner">
                                        <div class="overview-box clearfix">
                                            <div class="icon">
                                                <i class="zmdi zmdi-shopping-cart"></i>
                                            </div>
                                            <div class="text">
                                                <h2><%= itemsSold %></h2>
                                                <span>Items Sold</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-3">
                                <div class="overview-item overview-item--c4">
                                    <div class="overview__inner">
                                        <div class="overview-box clearfix">
                                            <div class="icon">
                                                <i class="zmdi zmdi-card"></i>
                                            </div>
                                            <div class="text">
                                                <h2><%= earnings %>$</h2>
                                                <span>Total Earnings</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="container">
                            <ul class="nav nav-tabs" id="myTab" role="tablist" style="width: 100%">
                                <li class="nav-item">
                                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#orders"
                                       role="tab">Orders</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#products" role="tab">Products</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#blogposts" role="tab">Blog
                                        Posts</a>
                                </li>
                            </ul>
                            <div class="tab-content" id="myTabContent" style="width: 100%;">
                                <div class="tab-pane fade show active" id="orders" role="tabpanel"
                                     aria-labelledby="home-tab">
                                    <div class="container" style="padding-left: 0;">
                                        <div class="report-buttons">
                                            <a class="btn btn-warning download_report"
                                               href="/download-order-report/xlsx">
                                                <i class="far fa-file-excel"></i> Download Orders Excel Report
                                            </a>
                                            <a class="btn btn-danger download_report_csv"
                                               href="/download-order-report/csv" style="margin: 0 0 0 20px;">
                                                <i class="far fa-file-excel"></i> Download Orders CSV Report
                                            </a>
                                        </div>
                                        <table style="text-align: center; width: 100%" id="order_table"
                                               class="table table-responsive-md">
                                            <thead class="thead-dark">
                                            <tr>
                                                <!--<th>#</th>-->
                                                <th>Order ID</th>
                                                <th>User ID</th>
                                                <th>Order Date</th>
                                                <th>Product Name</th>
                                                <th>Quantity</th>
                                                <th>Product</th>
                                                <th>Total Price</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <% orders.forEach(function(order, index){ %>
                                                <tr>
                                                    <!--<td><%= index %></td>-->
                                                    <td><%= order.orderId %></td>
                                                    <td><%= order.user_id %></td>
                                                    <td><%= new Date(new Date(order.order_date) + ' UTC').toLocaleString() %></td>
                                                    <td><%= order.productName %></td>
                                                    <td><%= order.productQty %></td>
                                                    <td>
                                                        <a href="/product/<%= order.productCode %>"><%= order.productCode %></a>
                                                    </td>
                                                    <td><%= order.productTotalPrice %>$</td>
                                                </tr>
                                            <% }) %>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="products" role="tabpanel">
                                    <div class="container">
                                        <div class="col-md-12"
                                             style="text-align: right; padding-right: 0; padding-top: 15px;">
                                            <button type="button" class="btn btn-primary add_new_product"
                                                    data-toggle="modal" data-target="#addProdModal">
                                                <i class="fas fa-plus"></i> Add New Product
                                            </button>
                                        </div>
                                        <table style="text-align: center;" id="product_table"
                                               class="table table-responsive-md">
                                            <thead class="thead-dark">
                                            <tr>
                                                <th width="20px">#</th>
                                                <th width="190px"> Product Code</th>
                                                <th width="170px">Product Name</th>
                                                <th width="170px">Product Line</th>
                                                <th width="200px">Product Description</th>
                                                <th>Quantity In Stock</th>
                                                <th>Price</th>
                                                <th>Action</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <% products.forEach(function(product, index){ %>
                                                <tr>
                                                    <td><%= index %></td>
                                                    <td class="prod_code"><%= product.productCode %></td>
                                                    <td class="prod_name"><%= product.productName %></td>
                                                    <td class="prod_line"><%= product.productLine %></td>
                                                    <td class="prod_desc"><%= product.productDescription %></td>
                                                    <td class="prod_qty"><%= product.quantityInStock %></td>
                                                    <td class="prod_price"><%= product.slowPrice + "-" + product.mediumPrice + "-" + product.fastPrice %>
                                                        руб
                                                    </td>
                                                    <td>
                                                        <a data-toggle="modal" data-target="#updProdModal" href="#">
                                                            <i class="fa fa-edit"></i>
                                                        </a><br>
                                                        <a href="/delete-product/<%= product.productCode %>">
                                                            <i class="fa fa-trash-alt"></i>
                                                        </a>
                                                    </td>
                                                    <input type="hidden" class="prod_preview_image"
                                                           value="<%= product.previewImage %>">
                                                </tr>
                                            <% }) %>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="blogposts" role="tabpanel">
                                    <div class="container">
                                        <div class="col-md-12"
                                             style="text-align: right; padding-right: 0; padding-top: 15px;">
                                            <button type="button" class="btn btn-primary add_new_product"
                                                    data-toggle="modal" data-target="#addBlogPostModal">
                                                <i class="fas fa-plus"></i> Add New Blog Post
                                            </button>
                                        </div>
                                        <table style="text-align: center;" id="blogposts_table"
                                               class="table table-responsive-md">
                                            <thead class="thead-dark">
                                            <tr>
                                                <th width="20px">Post ID</th>
                                                <th> Post Title</th>
                                                <th> Post Content</th>
                                                <th> Post Category</th>
                                                <th> Post Preview Image URL</th>
                                                <th width="30px">Action</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <% blogPosts.forEach(function(post, index){ %>
                                                <tr>
                                                    <td class="post_id"><%= post.id %></td>
                                                    <td class="post_title"><%= post.title %></td>
                                                    <td class="post_content">
                                                        <%= post.content.substring(0, 100) %>...
                                                        <span class="post_content_all d-none">
                                                            <%- post.content %>
                                                        </span>
                                                    </td>
                                                    <td class="post_category"><%= post.category %></td>
                                                    <td class="prod_preview_image"><%= post.previewImage %></td>
                                                    <td>
                                                        <a data-toggle="modal" data-target="#updBlogPostModal" href="#">
                                                            <i class="fa fa-edit"></i>
                                                        </a><br>
                                                        <a href="/delete-blogpost/<%= post.id %>">
                                                            <i class="fa fa-trash-alt"></i>
                                                        </a>
                                                    </td>
                                                </tr>
                                            <% }) %>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END MAIN CONTENT-->
    <!-- END PAGE CONTAINER-->
</div>
<div class="modal fade bd-example-modal-lg" id="updProdModal" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Update Product</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="updProdForm" action="/update-product" method="post">
                    <div class="form-group">
                        <label for="prod-code" class="col-form-label">Product Code:</label>
                        <input type="text" class="form-control" id="prod-code" name="prodcode" readonly="readonly"
                               required>
                    </div>
                    <div class="form-group">
                        <label for="prod-name" class="col-form-label">Product Name:</label>
                        <input type="text" class="form-control" id="prod-name" name="prodname" required>
                    </div>
                    <div class="form-group">
                        <label for="prod-line" class="col-form-label">Product Line:</label>
                        <select class="form-control" id="prod-line" name="prodline">
                            <% productLines.forEach(function(line) { %>
                                <option value="<%= line['productLine'] %>"><%= line['productLine'] %></option>
                            <% }) %>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="prod-desc" class="col-form-label">Product Description:</label>
                        <textarea type="text" class="form-control" id="prod-desc" name="proddesc" required
                                  style="min-height: 150px;"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="prod-slow-price" class="col-form-label">Product Price (Low Speed):</label>
                        <input type="number" class="form-control" id="prod-slow-price" name="prodslowPrice" min="0"
                               required step="0.1">
                    </div>
                    <div class="form-group">
                        <label for="prod-medium-price" class="col-form-label">Product Price (Medium Speed):</label>
                        <input type="number" class="form-control" id="prod-slow-price" name="prodmediumPrice" min="0"
                               required step="0.1">
                    </div>
                    <div class="form-group">
                        <label for="prod-fast-price" class="col-form-label">Product Price (Fast Speed):</label>
                        <input type="number" class="form-control" id="prod-price" name="prodfastPrice" min="0"
                               step="0.1"
                               required>
                    </div>
                    <div class="form-group">
                        <label for="prod-preview-image" class="col-form-label">Product Preview Image Link:</label>
                        <input type="text" class="form-control" id="prod-preview-image" name="prodpreviewimage">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-primary">Update Product</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal fade bd-example-modal-lg" id="addProdModal" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add New Product</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="updProdForm" action="/add-product" method="post">
                    <div class="form-group">
                        <label for="prod-code" class="col-form-label">Product Code:</label>
                        <input type="text" class="form-control" id="addprod-code" name="addprodcode" value="S10_"
                               required>
                    </div>
                    <div class="form-group">
                        <label for="prod-name" class="col-form-label">Product Name:</label>
                        <input type="text" class="form-control" id="addprod-name" name="addprodname" required>
                    </div>
                    <div class="form-group">
                        <label for="prod-name" class="col-form-label">Product Line:</label>
                        <select class="form-control" name="addprodline">
                            <% productLines.forEach(function(line) { %>
                                <option value="<%= line['productLine'] %>"><%= line['productLine'] %></option>
                            <% }) %>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="prod-desc" class="col-form-label">Product Description:</label>
                        <textarea type="text" class="form-control" id="addprod-desc" name="addproddesc"
                                  style="min-height: 150px;"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="addprod-slow-price" class="col-form-label">Product Price (Low Speed):</label>
                        <input type="number" class="form-control" id="addprod-slow-price" name="addProdslowPrice"
                               step="0.1"
                               min="0" required>
                    </div>
                    <div class="form-group">
                        <label for="addprod-medium-price" class="col-form-label">Product Price (Medium Speed):</label>
                        <input type="number" class="form-control" id="addprod-medium-price" name="addProdmediumPrice"
                               step="0.1"
                               min="0" required>
                    </div>
                    <div class="form-group">
                        <label for="addprod-fast-price" class="col-form-label">Product Price (Fast Speed):</label>
                        <input type="number" class="form-control" id="addprod-fast-price" name="addProdfastPrice"
                               step="0.1"
                               min="0"
                               required>
                    </div>
                    <div class="form-group">
                        <label for="prod-preview-image" class="col-form-label">Product Preview Image Link:</label>
                        <input type="text" class="form-control" id="prod-preview-image" name="addprodpreviewimage">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-primary">Add Product</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal fade bd-example-modal-lg" id="updBlogPostModal" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Update Post</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="updBlogPostForm" action="/update-blogpost" method="post">
                    <div class="form-group">
                        <label for="post-id" class="col-form-label">Post ID:</label>
                        <input type="text" class="form-control" id="post-id" name="postId" readonly="readonly"
                               required>
                    </div>
                    <div class="form-group">
                        <label for="post-title" class="col-form-label">Post Title:</label>
                        <input type="text" class="form-control" id="post-title" name="postTitle" required>
                    </div>
                    <div class="form-group">
                        <label for="post-content" class="col-form-label">Post Content:</label>
                        <textarea type="text" class="form-control" id="post-content" name="postContent"
                                  required></textarea>
                    </div>
                    <div class="form-group">
                        <label for="post-category" class="col-form-label">Post Category:</label>
                        <select class="form-control" id="post-category" name="postCategory">
                            <% productLines.forEach(function(line) { %>
                                <option value="<%= line['productLine'] %>"><%= line['productLine'] %></option>
                            <% }) %>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="post-prew-image" class="col-form-label">Post Preview Image:</label>
                        <input type="text" class="form-control" id="post-prew-image" name="postPrewImage" required>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-primary">Update Post</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal fade bd-example-modal-lg" id="addBlogPostModal" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add New Post</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="addBlogPostForm" action="/add-blogpost" method="post">
                    <div class="form-group">
                        <label for="post-title" class="col-form-label">Post Title:</label>
                        <input type="text" class="form-control" id="post-title" name="postTitle" required>
                    </div>
                    <div class="form-group">
                        <label for="post-content" class="col-form-label">Post Content:</label>
                        <textarea type="text" class="form-control" id="post-content" name="postContent"
                                  required></textarea>
                    </div>
                    <div class="form-group">
                        <label for="post-category" class="col-form-label">Post Category:</label>
                        <select class="form-control" id="post-category" name="postCategory">
                            <% productLines.forEach(function(line) { %>
                                <option value="<%= line['productLine'] %>"><%= line['productLine'] %></option>
                            <% }) %>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="post-prew-image" class="col-form-label">Post Preview Image:</label>
                        <input type="text" class="form-control" id="post-prew-image" name="postPrewImage" required>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-primary">Create Post</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Main JS-->
<script>
    $(document).ready(function () {
        $('#order_table').DataTable();
        $('#product_table').DataTable();
        $('#blogposts_table').DataTable();
    });
</script>

</body>

</html>