<!DOCTYPE html>
<html lang="en">

<head>
    <%- include includes/app.scripts.ejs %>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="/stylesheets/blog.css" rel="stylesheet">
    <style>
        h1 {
            font-size: <%= site_options['font_size'] + 'px!important' %>;
        }

        #shop-product-tabs i.fab {
            color: black !important;
        }

        ul#shop-product-tabs li a {
            height: 100%;
        }

        ul#shop-product-tabs li a {
            padding: .5rem 1.5rem !important;
        }

        ul#shop-product-tabs li a i {
            font-size: 19px !important;
        }
    </style>
</head>

<body>
<%- include includes/header.ejs %>
<div class="col-md-12">
    <div class="container">
        <div class="my-4">
            <div class="tabs">
                <ul class="nav nav-tabs col-md-12 d-flex justify-content-center ml-2 p-0" id="shop-product-tabs"
                    role="tablist">
                    <% for (let key in sortData) { %>
                        <li class="nav-item">
                            <a class="nav-link <%= (key == Object.keys(sortData)[0]) ? 'active' : '' %> font-weight-bold"
                               id="profile-tab"
                               data-toggle="tab" href="#<%= key.replace(/ /g, '') %>"
                               role="tab">
                                <i class="fab fa-<%= key.toLowerCase().trim() %>"></i> <%= key %>
                            </a>
                        </li>
                    <% } %>
                </ul>
            </div>
            <div class="tab-content w-100 pb-5" id="shop-content">
                <% for (let key in sortData) { %>
                    <div class="col-md-12 p-0 tab-pane fade show <%= (key == Object.keys(sortData)[0]) ? 'active' : '' %>"
                         id="<%= key.replace(/ /g, '') %>" role="tabpanel"
                         aria-labelledby="home-tab">
                        <div class="blog-posts-row col-md-12 p-3">
                            <% sortData[key].forEach(function(post, index){ %>
                                <div class="col-md-3 pl-0 pt-5">
                                    <div class="card h-100 border-0 bg-transparent">
                                        <a class="w-100 border-30-top-bottom bg-white text-center"
                                           href="/blog-post/<%= post.id %>">
                                            <img class="card-img-top"
                                                 style="max-height: 200px; width: auto; max-width: 100%;"
                                                 src="/images/<%= key.replace(/ /g, '') %>-blog.svg"
                                                 alt="">
                                        </a>
                                        <div class="card-body">
                                            <a href="/blog-post/<%= post.id %>"
                                               class="font-weight-bold card-title text-decoration-none">
                                                <h1 class="card-title p-3 font-weight-bold">
                                                    <%= post.title %>
                                                </h1>
                                            </a>
                                            <!--<p class="card-text">-->
                                            <!--<%= post.content.substring(0, 74) %>...-->
                                            <!--</p>-->
                                        </div>
                                    </div>
                                </div>
                            <% }) %>
                        </div>
                    </div>
                <% } %>
            </div>

        </div>
    </div>
</div>
<%- include includes/footer.ejs %>
<%- include includes/background-small-images.ejs %>
</body>
</html>
