<!DOCTYPE html>
<html lang="en">
<head>
    <%- include app.scripts.ejs %>
</head>
<body>
<%- include header.ejs %>
<h1 class="text-center">Our Customers</h1>
<div class="container">
    <div class="row">
        <table class="table table-bordered table-responsive-md">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Customer Name</th>
                <th scope="col">Customer Phone</th>
                <th scope="col">Customer Country</th>
                <th scope="col">Customer City</th>
            </tr>
            </thead>
            <tbody>
            <% data.forEach(function (data, index) { %>
                <tr>
                    <td><%= index %></td>
                    <td><%= data.customerName %></td>
                    <td><%= data.phone %></td>
                    <td><%= data.country %></td>
                    <td><%= data.city %></td>
                </tr>
            <% }) %>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>