<!DOCTYPE html>
<html lang="en">

<head>
    <%- include includes/app.scripts.ejs %>
</head>

<body>
<!-- Page Content -->
<%- include includes/header.ejs %>
<div class="col-md-12  pl-4 pr-4">
    <div class="col-lg-12 main-container container">
        <div class="col-md-12">
            <div class="row d-flex flex-row align-items-center">
                <div class="col-md-6 d-flex flex-column align-items-baseline justify-content-between">
                    <h1 class="font-weight-bold mt-4" style="font-size: 31px;">
                        SMM ПРОДВИЖЕНИЕ
                    </h1>
                    <span style="color: #656565;" class="mt-4">
                        Мы гарантируем вам качественное продвижение в <br> социальных сетях YouTube, Instagram, Twitter, VK, Facebook и др, всего от 100 рублей.
                    </span>
                    <a href="/shop">
                        <button class="btn btn-order mt-4">Заказать</button>
                    </a>
                </div>
                <div class="col-md-6 pt-4">
                    <img class="w-100" src="/images/investing-1.png" alt="">
                </div>
            </div>
        </div>
        <div class="col-md-12 pt-5 pb-5">
            <h1 class="font-weight-bold mt-4 text-right" style="font-size: 31px;">
                Магазин
            </h1>
            <div class="row my-4">
                <ul class="nav nav-tabs col-md-12 d-flex justify-content-center" id="shop-product-tabs" role="tablist">
                    <% for (let key in sortData) { %>
                        <li class="nav-item">
                            <a class="nav-link <%= (key == Object.keys(sortData)[0]) ? 'active' : '' %> font-weight-bold"
                               id="profile-tab"
                               data-toggle="tab" href="#<%= key.replace(/ /g, '') %>"
                               role="tab">
                                <!--                                <img class="navbar-toggler-icon" width="40"-->
                                <!--                                     src="/images/<%= key %>-icon-small.png" alt=""> -->
                                <i class="fab fa-<%= key.toLowerCase().trim() %>"></i> <%= key %>
                            </a>
                        </li>
                    <% } %>
                </ul>
                <div class="tab-content w-100" id="shop-content">
                    <% for (let key in sortData) { %>
                        <div class="col-md-12 p-0 tab-pane fade show <%= (key == Object.keys(sortData)[0]) ? 'active' : '' %>"
                             id="<%= key.replace(/ /g, '') %>" role="tabpanel"
                             aria-labelledby="home-tab">
                            <div class="products-row">
                                <div id="carousel<%= key.replace(/ /g, '').toLowerCase() %>"
                                     class="carouselPrograms carousel slide w-100 d-flex" data-ride="carousel"
                                     data-interval="false">
                                    <a class="carousel-control-prev position-relative"
                                       href="#carousel<%= key.replace(/ /g, '').toLowerCase() %>" role="button"
                                       data-slide="prev">
                                        <i class="fas fa-chevron-left"></i>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                    <div class="carousel-inner row mx-auto" role="listbox">
                                        <% sortData[key].forEach(function(product, index){ %>
                                            <div class="carousel-item <%= (index === 0) ? "active" : "" %> col-lg-4 col-md-6 col-sm-12 pt-3 pb-3">
                                                <div class="card h-100 border-0 bg-transparent">
                                                    <a class="text-center"
                                                       href="shop#<%= key %>">
                                                        <img class="card-img-top w-25 bg-transparent"
                                                             src="<%= "/images/" + key.toLowerCase() + "-icon-medium.png" || 'http://placehold.it/700x400' %>"
                                                             alt="">
                                                    </a>
                                                    <div class="card-body w-75 pt-lg-5 text-center d-flex justify-content-around flex-column">
                                                        <h4 class="card-title">
                                                            <a href="shop#<%= key %>"><%= product.productName %></a>
                                                        </h4>
                                                        <p class="card-text"><%= product.productDescription %></p>
                                                        <h5>От <%= product.slowPrice %> руб.</h5>
                                                        <a class="nav-link" href="/shop#<%= key %>">
                                                            Заказать
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        <% }) %>
                                    </div>
                                    <a class="carousel-control-next text-faded position-relative"
                                       href="#carousel<%= key.replace(/ /g, '').toLowerCase() %>" role="button"
                                       data-slide="next">
                                        <i class="fas fa-chevron-right"></i>
                                        <span class="sr-only">Next</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    <% } %>
                </div>

            </div>
        </div>
        <div class="col-md-12">
            <div class="row d-flex flex-row align-items-center">
                <div class="col-md-6 pt-4">
                    <img class="w-75" src="/images/investing-2.svg" alt="">
                </div>
                <div class="col-md-6 d-flex flex-column align-items-end text-right justify-content-between">
                    <h1 class="font-weight-bold mt-4" style="font-size: 31px;">
                        Шаблоны для заработка
                    </h1>
                    <span style="color: #656565;" class="mt-4">
                            Продвинуть аккаунт в социальных сетях, выдвигая его в ТОП ─ задача не из простых. Она включает в себя множество факторов и требует системного и методичного подхода. В первую очередь необходимо обратить внимание на сами сети и выбрать наиболее подходящие для вашего бизнеса.
                        </span>
                    <a href="/shop">
                        <button class="btn btn-order mt-4">Заказать</button>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-12 p-t-165">
            <div class="row d-flex flex-row align-items-center">
                <div class="col-md-6 d-flex flex-column align-items-baseline justify-content-between">
                    <h1 class="font-weight-bold mt-4" style="font-size: 31px;">
                        Отзывы
                    </h1>
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade" id="1" role="tabpanel" aria-labelledby="home-tab">
                            <div class="d-flex flex-row justify-content-between align-items-center">
                                    <span style="color: #656565;" class="mt-4 font-weight-bolder">
                                        Анастасия Дашкевич
                                    </span>
                                <span style="color: #B8B8B8;" class="mt-4">
                                        23.04.19
                                    </span>
                            </div>
                            <p style="color: #656565;" class="mt-4 text-justify">
                                Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem
                                Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то
                                время некий
                            </p>
                        </div>
                        <div class="tab-pane fade" id="review-2" role="tabpanel" aria-labelledby="profile-tab">...
                        </div>
                        <div class="tab-pane fade" id="review-3" role="tabpanel" aria-labelledby="contact-tab">...
                        </div>
                        <div class="tab-pane fade" id="review-4" role="tabpanel" aria-labelledby="contact-tab">...
                        </div>
                        <div class="tab-pane fade show active" id="review-5" role="tabpanel"
                             aria-labelledby="contact-tab">
                            <div class="d-flex flex-row justify-content-between align-items-center">
                                    <span style="color: #656565;"
                                          class="mt-4 font-weight-bolder">
                                        Анастасия Дашкевич
                                    </span>
                                <span style="color: #B8B8B8;" class="mt-4">
                                        23.04.19
                                    </span>
                            </div>
                            <p style="color: #656565;" class="mt-4 text-justify">
                                Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem
                                Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то
                                время некий
                            </p>
                        </div>
                        <div class="tab-pane fade" id="review-6" role="tabpanel" aria-labelledby="contact-tab">...
                        </div>
                    </div>
                </div>
                <div class="col-md-6 pt-4">
                    <ul class="nav nav-tabs review-tabs" id="myTab" role="tablist">
                        <li class="nav-item col-md-6">
                            <a class="nav-link btn btn-order mt-4" id="home-tab" data-toggle="tab"
                               href="#review-1"
                               role="tab"
                               aria-selected="true">Максим ковач</a>
                        </li>
                        <li class="nav-item col-md-6">
                            <a class="nav-link btn btn-order mt-4" id="profile-tab" data-toggle="tab"
                               href="#review-2"
                               role="tab"
                               aria-selected="false">Максим ковач</a>
                        </li>
                        <li class="nav-item col-md-6">
                            <a class="nav-link btn btn-order mt-4" id="contact-tab" data-toggle="tab"
                               href="#review-3"
                               role="tab"
                               aria-selected="false">Максим ковач</a>
                        </li>
                        <li class="nav-item col-md-6">
                            <a class="nav-link btn btn-order mt-4" id="home-tab" data-toggle="tab"
                               href="#review-4"
                               role="tab"
                               aria-selected="true">Максим ковач</a>
                        </li>
                        <li class="nav-item col-md-6">
                            <a class="nav-link active btn btn-order mt-4" id="profile-tab" data-toggle="tab"
                               href="#review-5"
                               role="tab"
                               aria-selected="false">Анастасия Дашкевич</a>
                        </li>
                        <li class="nav-item col-md-6">
                            <a class="nav-link btn btn-order mt-4" id="contact-tab" data-toggle="tab"
                               href="#review-6"
                               role="tab"
                               aria-selected="false">Максим ковач</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-12 pt-5 pb-5">
            <div class="row">
                <div class="container-fluid blog-posts">
                    <div id="carouselExample" class="carouselPrograms carousel slide" data-ride="carousel"
                         data-interval="false">
                        <h1 class="font-weight-bold text-white text-center">
                            Блог
                        </h1>
                        <div class="carousel-inner row w-100 mx-auto" role="listbox">
                            <div class="carousel-item active col-lg-4 col-md-6 col-sm-12 pt-3 pb-3">
                                <div class="card h-100 border-0 bg-transparent">
                                    <img class="card-img-top"
                                         src="/images/twitter-icon-big.png"
                                         alt="">
                                    <div class="card-body">
                                        <h4 class="card-title">
                                            Подготовка и раскрутка твиттер
                                        </h4>
                                        <p class="card-text">Lorem Ipsum - это текст-"рыба", часто используемый в печати
                                            и
                                            вэб-дизайне. Lorem Ipsum </p>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item col-lg-4 col-md-6 col-sm-12 pt-3 pb-3">
                                <div class="card h-100 border-0 bg-transparent">
                                    <img class="card-img-top"
                                         src="/images/twitter-icon-big.png"
                                         alt="">
                                    <div class="card-body">
                                        <h4 class="card-title">
                                            Подготовка и раскрутка твиттер
                                        </h4>
                                        <p class="card-text">Lorem Ipsum - это текст-"рыба", часто используемый в печати
                                            и
                                            вэб-дизайне. Lorem Ipsum </p>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item col-lg-4 col-md-6 col-sm-12 pt-3 pb-3">
                                <div class="card h-100 border-0 bg-transparent">
                                    <img class="card-img-top"
                                         src="/images/twitter-icon-big.png"
                                         alt="">
                                    <div class="card-body">
                                        <h4 class="card-title">
                                            Подготовка и раскрутка твиттер
                                        </h4>
                                        <p class="card-text">Lorem Ipsum - это текст-"рыба", часто используемый в печати
                                            и
                                            вэб-дизайне. Lorem Ipsum </p>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item col-lg-4 col-md-6 col-sm-12 pt-3 pb-3">
                                <div class="card h-100 border-0 bg-transparent">
                                    <img class="card-img-top"
                                         src="/images/twitter-icon-big.png"
                                         alt="">
                                    <div class="card-body">
                                        <h4 class="card-title">
                                            Подготовка и раскрутка твиттер
                                        </h4>
                                        <p class="card-text">Lorem Ipsum - это текст-"рыба", часто используемый в печати
                                            и
                                            вэб-дизайне. Lorem Ipsum </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <a class="carousel-control-prev" href="#carouselExample" role="button" data-slide="prev">
                            <i class="fas fa-chevron-left"></i>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next text-faded" href="#carouselExample" role="button"
                           data-slide="next">
                            <i class="fas fa-chevron-right"></i>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="row d-flex flex-row align-items-center">
                <div class="col-md-6 d-flex flex-column align-items-baseline justify-content-between">
                    <h1 class="font-weight-bold mt-4" style="font-size: 31px;">
                        Обратная связь
                    </h1>
                    <span style="color: #656565;" class="mt-4">
                        Если у вас есть вопросы или предложения мы всегда рады <br> вам, напишите нам и наши специалисты ответят вам в течении <br>
                        нескольких минут.
                    </span>
                    <a href="/shop">
                        <button class="btn btn-order mt-4">Оставить заявку</button>
                    </a>
                </div>
                <div class="col-md-6 pt-4">
                    <img class="w-100" src="/images/investing-3.png" alt="">
                </div>
            </div>
        </div>
    </div>
    <%- include includes/footer.ejs %>
    <%- include includes/background-small-images.ejs %>
</div>
</body>

</html>
