<html>
<head>
    <title>Express Shop</title>
    <!-- Bootstrap core CSS -->
    <%- include includes/app.scripts.ejs %>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="/stylesheets/product.css" rel="stylesheet">
    <script src="/javascripts/shop.js" type="text/javascript"></script>
    <style>
        h1 {
            font-size: <%= site_options['font_size'] + 'px!important' %>;
        }

        footer i.fab, #shop-product-tabs i.fab {
            padding: 0.45em;
        }

        i.fab.fa-telegram {
            padding: 0.4rem 0.4rem !important;
        }

        i.fab.fa-odnoklassniki {
            padding: 0.4rem 0.55rem !important;
        }
    </style>
</head>
<body style="padding: 0; background: whitesmoke;">
<div class="d-flex" id="wrapper">

    <!-- Sidebar -->
    <%- include includes/user-sidebar.ejs %>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">

        <%- include includes/header.ejs %>
        <div class="container">
            <div class="services pt-3">
                <ul class="nav nav-tabs col-md-12 d-flex justify-content-center align-items-baseline"
                    id="shop-product-tabs" role="tablist">
                    <% for (let key in sortData) { %>
                        <li class="nav-item">
                            <a class="nav-link <%= (key == Object.keys(sortData)[0]) ? 'active' : '' %> font-weight-bold"
                               id="profile-tab"
                               data-toggle="tab" href="#<%= key.replace(/ /g, '') %>"
                               role="tab">
                                <i class="fab fa-<%= key.toLowerCase().trim() %>"></i> <%= key %>
                            </a>
                        </li>
                    <% } %>
                </ul>
            </div>
            <div class="products pb-5">
                <div class="tab-content w-100" id="shop-content">
                    <% for (let key in sortData) { %>
                        <div class="col-md-10 m-auto p-0 tab-pane fade show <%= (key == Object.keys(sortData)[0]) ? 'active' : '' %>"
                             id="<%= key.replace(/ /g, '') %>" role="tabpanel"
                             aria-labelledby="home-tab">
                            <% if (site_options['notification_text'] && site_options['notification_text'][0].toString().replace(/ /g, '').length !== 0 && site_options['notification_text'][1] === key) { %>
                                <div class="mt-4 mb-1 alert alert-warning" role="alert">
                                    <%- site_options['notification_text'][0] %>
                                </div>
                            <% } %>
                            <div class="products-row">
                                <div id="carousel<%= key.replace(/ /g, '').toLowerCase() %>"
                                     class="carouselPrograms carousel slide w-100 d-flex" data-ride="carousel"
                                     data-interval="false">
                                    <a class="carousel-control-prev position-relative"
                                       style="<%= sortData[key].length <= 3 ? 'opacity: 0 !important;' : '' %>"
                                       href="#carousel<%= key.replace(/ /g, '').toLowerCase() %>" role="button"
                                       data-slide="prev">
                                        <i class="fas fa-chevron-left"></i>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                    <div class="carousel-inner row mx-auto" role="listbox">
                                        <ul class="nav nav-tabs border-0 col-md-12 p-0 d-flex justify-content-around"
                                            role="tablist">
                                            <% sortData[key].forEach(function(product, index){ %>
                                                <li class="carousel-item h-100 <%= (index === 0) ? "active" : "" %> nav-item col-lg-4 col-md-6 col-sm-12 pt-3 pb-3 pr-0 text-center cursor-pointer">
                                                    <a class="nav-link border-0 h-100 bg-transparent p-0 product <%= (index === 0) ? "active" : "" %>"
                                                       href="#<%= key.replace(/ /g, '') %>#<%= product.productName.replace(/ /g, '') %>"
                                                       data-toggle="tab"
                                                       role="tab">
                                                        <div class="card-body m-0 h-100 bg-white border-30 shadow hover-6c">
                                                            <h6 class="text-center color-61 productName"><%= product.productName %></h6>
                                                            <h2 class="text-center color-61 productDesc d-none"><%= product.productDescription %></h2>
                                                            <img src="<%= product.previewImage %>"
                                                                 alt="">
                                                        </div>
                                                        <input type="hidden" class="productSlowPrice"
                                                               value="<%= product.slowPrice %>">
                                                        <input type="hidden" class="productMediumPrice"
                                                               value="<%= product.mediumPrice %>">
                                                        <input type="hidden" class="productFastPrice"
                                                               value="<%= product.fastPrice %>">
                                                        <input type="hidden" class="productSlowBossLikePoints"
                                                               value="<%= product.bosslikepoints_slow %>">
                                                        <input type="hidden" class="productMediumBossLikePoints"
                                                               value="<%= product.bosslikepoints_medium %>">
                                                        <input type="hidden" class="productFastBossLikePoints"
                                                               value="<%= product.bosslikepoints_fast %>">
                                                        <input type="hidden"
                                                               class="productTaskType"
                                                               value="<%= product.productVendor %>">
                                                        <input type="hidden"
                                                               class="productServiceType"
                                                               value="<%= product.service_type %>">
                                                    </a>
                                                </li>
                                            <% }) %>
                                        </ul>
                                    </div>
                                    <a class="carousel-control-next text-faded position-relative"
                                       style="<%= sortData[key].length <= 3 ? 'opacity: 0 !important;' : '' %>"
                                       href="#carousel<%= key.replace(/ /g, '').toLowerCase() %>" role="button"
                                       data-slide="next">
                                        <i class="fas fa-chevron-right"></i>
                                        <span class="sr-only">Next</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    <% } %>
                </div>
            </div>
            <div class="options">
                <div class="d-flex flex-wrap">
                    <div class="col-md-8">
                        <div class="d-flex align-items-baseline">
                            <label for="count" class="pr-2">Количество: </label>
                            <input type="range" class="custom-range productCount" name="productCount" value="2000"
                                   min="390" max="10000"
                                   id="count" oninput="$('#countText').val(this.value)">
                        </div>
                        <div class="pt-2">
                            <div class="form-group d-flex align-items-baseline">
                                <label for="countText" class="pr-2">Ввести число вручную: <i class="far fa-question-circle"
                                                                                             data-toggle="tooltip"
                                                                                             data-placement="top"
                                                                                             title="Нужно больше? Введите число"></i></label>
                                <input type="number" class="form-control productCountText w-25" name="productCount"
                                       min="390" value="2000" id="countText"
                                       oninput="$('#count').val(this.value)">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 d-flex flex-column">
                        <div class="d-flex align-items-baseline">
                            <label for="speed" class="pr-2">Скорость</label>
                            <input type="range" class="custom-range productSpeed w-100" min="0" max="2" id="speed">
                        </div>
                        <div class="input-hints">
                            <span class="cursor-pointer" onclick="$('.productSpeed').prop('value', 0).trigger('input')">Медленно</span>
                            <span class="cursor-pointer" onclick="$('.productSpeed').prop('value', 1).trigger('input')">Умеренно</span>
                            <span class="cursor-pointer" onclick="$('.productSpeed').prop('value', 2).trigger('input')">Быстро</span>
                        </div>
                    </div>
                </div>
                <div class="pt-5 pb-5 pl-3 pr-3 w-100">
                    <div class="border-30 bg-white">
                        <div class="p-3 d-flex form-group align-items-baseline">
                            <label for="profile_url" class="m-0 pr-2">Ссылка на вашу страницу: </label>
                            <input type="text" class="form-control p-1 w-75" id="profile_url">
                        </div>
                    </div>
                </div>
            </div>
            <div class="finish-part text-center pb-5 mb-5">
                <h4 class="color-6c m-0">Итого: <span class="price">0</span> руб</h4>
                <button class="btn btn-order mt-4" id="addToCart">Добавить в корзину</button>
            </div>
            <div class="bottom-image text-right float-right" style="margin-top: -160px;">
                <img src="/images/shop-bottom.png" class="w-75" alt="">
            </div>
        </div>
    </div>
</div>
</body>
</html>
