<html>
<head>
    <title>Express Shop</title>
    <!-- Bootstrap core CSS -->
    <%- include ../includes/app.scripts.ejs %>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="/stylesheets/product.css" rel="stylesheet">
</head>
<body style="padding: 0; background: whitesmoke;">
<div class="d-flex" id="wrapper">

    <!-- Sidebar -->
    <%- include ../includes/user-sidebar.ejs %>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">

        <%- include ../includes/header.ejs %>

        <div class="container">
            <table style="text-align: center" id="product_table" class="table">
                <thead>
                <tr>
                    <th class="border-top-0 font-weight-normal w-50">Товар</th>
                    <th class="border-top-0 font-weight-normal">Цена</th>
                    <th class="border-top-0 font-weight-normal">Количество</th>
                    <th class="border-top-0 font-weight-normal">Итого</th>
                </tr>
                </thead>
                <tbody>
                <% orders.forEach(function(order, index){ %>
                    <tr>
                        <td>
                            <div class="w-50 m-auto d-flex align-items-center justify-content-between">
                                <img style="width: 50px!important;"
                                     src="<%= "/images/" + order.orderCategory.toLowerCase() + "-icon-medium.png" || 'http://placehold.it/700x400' %>"
                                     alt=""><a href="/shop#<%= order.orderCategory %>"><%= order.orderName %></a>
                            </div>
                        </td>
                        <td><%= order.orderTotalPrice / order.orderQty %> руб.</td>
                        <td><%= order.orderQty %> штуки</td>
                        <td><%= order.orderTotalPrice %> руб.</td>
                    </tr>
                <% }) %>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>
